<a href="https://colab.research.google.com/github/RayAThomas85/Coursera---Python-for-Data-Science-AI-Development/blob/main/PY0101EN_5_4_1_Web_Scraping_Review_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo">
</center>

# **Web Scraping Lab**

Estimated time needed: **30** minutes

## Objectives

After completing this lab you will be:

*   Familiar with the basics of the `BeautifulSoup` Python library
*   Be able to scrape webpages for data and filter the data

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>
            <a href="https://bso/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2021-01-01">Beautiful Soup Object</a>
            <ul>
                <li>Tag</li>
                <li>Children, Parents, and Siblings</li>
                <li>HTML Attributes</li>
                <li>Navigable String</li>
            </ul>
        </li>
     </ul>
    <ul>
        <li>
            <a href="https://filter/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2021-01-01">Filter</a>
            <ul>
                <li>find All</li>
                <li>find </li>
                <li>HTML Attributes</li>
                <li>Navigable String</li>
            </ul>
        </li>
     </ul>
     <ul>
        <li>
            <a href="https://dscw/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2021-01-01">Downloading And Scraping The Contents Of A Web</a>
    </p>

</div>

<hr>

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
!pip install html5lib

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: html5lib in /usr/local/lib/python3.10/dist-packages (1.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.10/dist-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from html5lib) (0.5.1)

**Note:- After running the above code cell, restart the kernel and don't run the above code cell after restarting the kernel.**

In [2]:
!pip install bs4
#!pip install requests

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from bs4) (4.11.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->bs4) (2.4.1)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py) ... done
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1257 sha256=2a7f8b28089c490ba8d1f756928f4112b24b80bbefba832784c8d7213acb2a5c
  Stored in directory: /root/.cache/pip/wheels/25/42/45/b773edc52acb16cd2db4cf1a0b47117e2f69bb4eb300ed0e70
Successfully built bs4
Installing collected packages: bs4
Successfully installed bs4-0.0.1

Import the required modules and functions

In [3]:
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page

<h2 id="BSO">Beautiful Soup Objects</h2>

Beautiful Soup is a Python library for pulling data out of HTML and XML files, we will focus on HTML files. This is accomplished by representing the HTML as a set of objects with methods used to parse the HTML.  We can navigate the HTML as a tree, and/or filter out what we are looking for.

Consider the following HTML:

In [4]:
%%html
<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
<h3><b id='boldest'>Lebron James</b></h3>
<p> Salary: $ 92,000,000 </p>
<h3> Stephen Curry</h3>
<p> Salary: $85,000, 000 </p>
<h3> Kevin Durant </h3>
<p> Salary: $73,200, 000</p>
</body>
</html>

We can store it as a string in the variable HTML:

In [5]:
html="<!DOCTYPE html><html><head><title>Page Title</title></head><body><h3><b id='boldest'>Lebron James</b></h3><p> Salary: $ 92,000,000 </p><h3> Stephen Curry</h3><p> Salary: $85,000, 000 </p><h3> Kevin Durant </h3><p> Salary: $73,200, 000</p></body></html>"

To parse a document, pass it into the <code>BeautifulSoup</code> constructor. The <code>BeautifulSoup</code> object represents the document as a nested data structure:

In [6]:
soup = BeautifulSoup(html, 'html5lib')

First, the document is converted to Unicode (similar to ASCII) and HTML entities are converted to Unicode characters. Beautiful Soup transforms a complex HTML document into a complex tree of Python objects. The <code>BeautifulSoup</code> object can create other types of objects. In this lab, we will cover <code>BeautifulSoup</code> and <code>Tag</code> objects, that for the purposes of this lab are identical. Finally, we will look at <code>NavigableString</code> objects.

We can use the method <code>prettify()</code> to display the HTML in the nested structure:

In [7]:
print(soup.prettify())

<!DOCTYPE html>
<html>
 <head>
  <title>
   Page Title
  </title>
 </head>
 <body>
  <h3>
   <b id="boldest">
    Lebron James
   </b>
  </h3>
  <p>
   Salary: $ 92,000,000
  </p>
  <h3>
   Stephen Curry
  </h3>
  <p>
   Salary: $85,000, 000
  </p>
  <h3>
   Kevin Durant
  </h3>
  <p>
   Salary: $73,200, 000
  </p>
 </body>
</html>

## Tags

Let's say we want the  title of the page and the name of the top paid player. We can use the <code>Tag</code>. The <code>Tag</code> object corresponds to an HTML tag in the original document, for example, the tag title.

In [8]:
tag_object=soup.title
print("tag object:",tag_object)

tag object: <title>Page Title</title>

we can see the tag type <code>bs4.element.Tag</code>

In [9]:
print("tag object type:",type(tag_object))

tag object type: <class 'bs4.element.Tag'>

If there is more than one <code>Tag</code> with the same name, the first element with that <code>Tag</code> name is called. This corresponds to the most paid player:

In [10]:
tag_object=soup.h3
tag_object

Enclosed in the bold attribute <code>b</code>, it helps to use the tree representation. We can navigate down the tree using the child attribute to get the name.

### Children, Parents, and Siblings

As stated above, the <code>Tag</code> object is a tree of objects. We can access the child of the tag or navigate down the branch as follows:

In [11]:
tag_child =tag_object.b
tag_child

You can access the parent with the <code> parent</code>.

In [12]:
parent_tag=tag_child.parent
parent_tag

this is identical to:

In [13]:
tag_object

<code>tag_object</code> parent is the <code>body</code> element.

In [14]:
tag_object.parent

<code>tag_object</code> sibling is the <code>paragraph</code> element.

In [15]:
sibling_1=tag_object.next_sibling
sibling_1

`sibling_2` is the `header` element, which is also a sibling of both `sibling_1` and `tag_object`

In [16]:
sibling_2=sibling_1.next_sibling
sibling_2

<h3 id="first_question">Exercise: <code>next_sibling</code></h3>

Use the object <code>sibling\_2</code> and the method <code>next_sibling</code> to find the salary of Stephen Curry:

In [17]:
sibling_2.next_sibling

<details><summary>Click here for the solution</summary>

```
sibling_2.next_sibling

```

</details>

### HTML Attributes

If the tag has attributes, the tag <code>id="boldest"</code> has an attribute <code>id</code> whose value is <code>boldest</code>. You can access a tag's attributes by treating the tag like a dictionary:

In [18]:
tag_child['id']

'boldest'

You can access that dictionary directly as <code>attrs</code>:

In [19]:
tag_child.attrs

{'id': 'boldest'}

You can also work with Multi-valued attributes. Check out <a href="https://www.crummy.com/software/BeautifulSoup/bs4/doc/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2021-01-01">\[1]</a> for more.

We can also obtain the content of the attribute of the <code>tag</code> using the Python <code>get()</code> method.

In [20]:
tag_child.get('id')

'boldest'

### Navigable String

A string corresponds to a bit of text or content within a tag. Beautiful Soup uses the <code>NavigableString</code> class to contain this text. In our HTML we can obtain the name of the first player by extracting the string of the <code>Tag</code> object <code>tag_child</code> as follows:

In [21]:
tag_string=tag_child.string
tag_string

'Lebron James'

we can verify the type is Navigable String

In [22]:
type(tag_string)

bs4.element.NavigableString

A NavigableString is similar to a Python string or Unicode string. To be more precise, the main difference is that it also supports some <code>BeautifulSoup</code> features. We can convert it to string object in Python:

In [23]:
unicode_string = str(tag_string)
unicode_string

'Lebron James'

<h2 id="filter">Filter</h2>

Filters allow you to find complex patterns, the simplest filter is a string. In this section we will pass a string to a different filter method and Beautiful Soup will perform a match against that exact string. Consider the following HTML of rocket launches:

In [24]:
%%html
<table>
  <tr>
    <td id='flight' >Flight No</td>
    <td>Launch site</td>
    <td>Payload mass</td>
   </tr>
  <tr>
    <td>1</td>
    <td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a></td>
    <td>300 kg</td>
  </tr>
  <tr>
    <td>2</td>
    <td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td>
    <td>94 kg</td>
  </tr>
  <tr>
    <td>3</td>
    <td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td>
    <td>80 kg</td>
  </tr>
</table>

We can store it as a string in the variable <code>table</code>:

In [25]:
table="<table><tr><td id='flight'>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a></td><td>300 kg</td></tr><tr><td>2</td><td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td><td>80 kg</td></tr></table>"

In [26]:
table_bs = BeautifulSoup(table, 'html5lib')

## find All

The <code>find_all()</code> method looks through a tag's descendants and retrieves all descendants that match your filters.

<p>
The Method signature for <code>find_all(name, attrs, recursive, string, limit, **kwargs)<c/ode>
</p>

### Name

When we set the <code>name</code> parameter to a tag name, the method will extract all the tags with that name and its children.

In [27]:
table_rows=table_bs.find_all('tr')
table_rows

[<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr>]

The result is a Python iterable just like a list, each element is a <code>tag</code> object:

In [28]:
first_row =table_rows[0]
first_row

The type is <code>tag</code>

In [29]:
print(type(first_row))

<class 'bs4.element.Tag'>

we can obtain the child

In [30]:
first_row.td

If we iterate through the list, each element corresponds to a row in the table:

In [31]:
for i,row in enumerate(table_rows):
    print("row",i,"is",row)

row 0 is <tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>
row 1 is <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr>
row 2 is <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>
row 3 is <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr>

As <code>row</code> is a <code>cell</code> object, we can apply the method <code>find_all</code> to it and extract table cells in the object <code>cells</code> using the tag <code>td</code>, this is all the children with the name <code>td</code>. The result is a list, each element corresponds to a cell and is a <code>Tag</code> object, we can iterate through this list as well. We can extract the content using the <code>string</code> attribute.

In [32]:
for i,row in enumerate(table_rows):
    print("row",i)
    cells=row.find_all('td')
    for j,cell in enumerate(cells):
        print('colunm',j,"cell",cell)

row 0
colunm 0 cell <td id="flight">Flight No</td>
colunm 1 cell <td>Launch site</td>
colunm 2 cell <td>Payload mass</td>
row 1
colunm 0 cell <td>1</td>
colunm 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td>
colunm 2 cell <td>300 kg</td>
row 2
colunm 0 cell <td>2</td>
colunm 1 cell <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>
colunm 2 cell <td>94 kg</td>
row 3
colunm 0 cell <td>3</td>
colunm 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td>
colunm 2 cell <td>80 kg</td>

If we use a list we can match against any item in that list.

In [33]:
list_input=table_bs .find_all(name=["tr", "td"])
list_input

[<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <td id="flight">Flight No</td>,
 <td>Launch site</td>,
 <td>Payload mass</td>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr>,
 <td>1</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td>,
 <td>300 kg</td>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <td>2</td>,
 <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>,
 <td>94 kg</td>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr>,
 <td>3</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td>,
 <td>80 kg</td>]

## Attributes

If the argument is not recognized it will be turned into a filter on the tag's attributes. For example with the <code>id</code> argument, Beautiful Soup will filter against each tag's <code>id</code> attribute. For example, the first <code>td</code> elements have a value of <code>id</code> of <code>flight</code>, therefore we can filter based on that <code>id</code> value.

In [34]:
table_bs.find_all(id="flight")

We can find all the elements that have links to the Florida Wikipedia page:

In [35]:
list_input=table_bs.find_all(href="https://en.wikipedia.org/wiki/Florida")
list_input

[<a href="https://en.wikipedia.org/wiki/Florida">Florida</a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida</a>]

If we set the <code>href</code> attribute to True, regardless of what the value is, the code finds all tags with <code>href</code> value:

In [36]:
table_bs.find_all(href=True)

[<a href="https://en.wikipedia.org/wiki/Florida">Florida</a>,
 <a href="https://en.wikipedia.org/wiki/Texas">Texas</a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida</a>]

There are other methods for dealing with attributes and other related methods. Check out the following <a href='https://www.crummy.com/software/BeautifulSoup/bs4/doc/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2021-01-01#css-selectors'>link</a>

<h3 id="exer_type">Exercise: <code>find_all</code></h3>

Using the logic above, find all the elements without <code>href</code> value

In [37]:
table_bs.find_all(href=False)

[<html><head></head><body><table><tbody><tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr><tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr></tbody></table></body></html>,
 <head></head>,
 <body><table><tbody><tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr><tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr></tbody></table></body>,
 <table><tbody><tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr><tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr></tbody></table>,
 <tbody><tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr><tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr></tbody>,
 <tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <td id="flight">Flight No</td>,
 <td>Launch site</td>,
 <td>Payload mass</td>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr>,
 <td>1</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td>,
 <a></a>,
 <td>300 kg</td>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <td>2</td>,
 <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>,
 <td>94 kg</td>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr>,
 <td>3</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td>,
 <a> </a>,
 <td>80 kg</td>]

<details><summary>Click here for the solution</summary>

```
table_bs.find_all(href=False)

```

</details>

Using the soup object <code>soup</code>, find the element with the <code>id</code> attribute content set to <code>"boldest"</code>.

In [38]:
soup.find_all(id="boldest")

<details><summary>Click here for the solution</summary>

```
soup.find_all(id="boldest")

```

</details>

### string

With string you can search for strings instead of tags, where we find all the elments with Florida:

In [39]:
table_bs.find_all(string="Florida")

['Florida', 'Florida']

## find

The <code>find_all()</code> method scans the entire document looking for results. It’s useful if you are looking for one element, as you can use the <code>find()</code> method to find the first element in the document. Consider the following two tables:

In [40]:
%%html
<h3>Rocket Launch </h3>

<p>
<table class='rocket'>
  <tr>
    <td>Flight No</td>
    <td>Launch site</td>
    <td>Payload mass</td>
  </tr>
  <tr>
    <td>1</td>
    <td>Florida</td>
    <td>300 kg</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Texas</td>
    <td>94 kg</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Florida </td>
    <td>80 kg</td>
  </tr>
</table>
</p>
<p>

<h3>Pizza Party  </h3>


<table class='pizza'>
  <tr>
    <td>Pizza Place</td>
    <td>Orders</td>
    <td>Slices </td>
   </tr>
  <tr>
    <td>Domino's Pizza</td>
    <td>10</td>
    <td>100</td>
  </tr>
  <tr>
    <td>Little Caesars</td>
    <td>12</td>
    <td >144 </td>
  </tr>
  <tr>
    <td>Papa John's </td>
    <td>15 </td>
    <td>165</td>
  </tr>

We store the HTML as a Python string and assign <code>two_tables</code>:

In [41]:
two_tables="<h3>Rocket Launch </h3><p><table class='rocket'><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table></p><p><h3>Pizza Party  </h3><table class='pizza'><tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr><tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr><tr><td>Little Caesars</td><td>12</td><td >144 </td></tr><tr><td>Papa John's </td><td>15 </td><td>165</td></tr>"

We create a <code>BeautifulSoup</code> object  <code>two_tables_bs</code>

In [42]:
two_tables_bs= BeautifulSoup(two_tables, 'html.parser')

We can find the first table using the tag name table

In [43]:
two_tables_bs.find("table")

<table class="rocket"><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table>

We can filter on the class attribute to find the second table, but because class is a keyword in Python, we add an underscore to differentiate them.

In [44]:
two_tables_bs.find("table",class_='pizza')

<table class="pizza"><tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr><tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr><tr><td>Little Caesars</td><td>12</td><td>144 </td></tr><tr><td>Papa John's </td><td>15 </td><td>165</td></tr></table>

<h2 id="DSCW">Downloading And Scraping The Contents Of A Web Page</h2>

We Download the contents of the web page:

In [45]:
url = "http://www.ibm.com"

We use <code>get</code> to download the contents of the webpage in text format and store in a variable called <code>data</code>:

In [46]:
data  = requests.get(url).text

We create a <code>BeautifulSoup</code> object using the <code>BeautifulSoup</code> constructor

In [47]:
soup = BeautifulSoup(data,"html5lib")  # create a soup object using the variable 'data'

Scrape all links

In [48]:
for link in soup.find_all('a',href=True):  # in html anchor/link is represented by the tag <a>

    print(link.get('href'))

https://ibm-techxchange.bemyapp.com/watsonx
https://www.ibm.com/subscribe
https://www.ibm.com/products/watsonx-ai
https://www.ibm.com/products/watsonx-data
https://www.ibm.com/products/watsonx-governance
https://research.ibm.com/blog/generative-ai-for-enterprise
https://www.ibm.com/cloud?lnk=flatitem
https://www.ibm.com/products
#bx--custom-footnotes
https://www.ibm.com/consulting
https://www.ibm.com/about
https://www.gartner.com/en/documents/4007140
https://www.ibm.com/

## Scrape  all images  Tags

In [49]:
for link in soup.find_all('img'):# in html image is represented by the tag <img>
    print(link)
    print(link.get('src'))

<img alt="Concentric illustration showing watsonx.ai capabilities" aria-describedby="bx--image-1" class="bx--image__img" src="https://1.dam.s81c.com/p/0b52089e994c221c/ibm-watsonxai-aspectratio-2-by-1.png.global.xs_1x1.png"/>
https://1.dam.s81c.com/p/0b52089e994c221c/ibm-watsonxai-aspectratio-2-by-1.png.global.xs_1x1.png
<img alt="Concentric illustration showing watsonx.data capabilities" aria-describedby="bx--image-2" class="bx--image__img" src="https://1.dam.s81c.com/p/0b526de85b441e06/IBM_WatsonXData_A05.png.global.xs_1x1.png"/>
https://1.dam.s81c.com/p/0b526de85b441e06/IBM_WatsonXData_A05.png.global.xs_1x1.png
<img alt="Concentric illustration showing watsonx.governance capabilities" aria-describedby="bx--image-3" class="bx--image__img" src="https://1.dam.s81c.com/p/0b526de85b441e07/IBM_WatsonXGovernance_A03.png.global.xs_1x1.png"/>
https://1.dam.s81c.com/p/0b526de85b441e07/IBM_WatsonXGovernance_A03.png.global.xs_1x1.png
<img alt="Blue and black pixels illustrating the capabilities of generative AI" aria-describedby="bx--image-4" class="bx--image__img" src="https://1.dam.s81c.com/p/0b5208b36a4c2422/Generative_AI.jpg"/>
https://1.dam.s81c.com/p/0b5208b36a4c2422/Generative_AI.jpg
<img alt="Grid of IBM consultant portraits" class="bx--image__img" src="https://1.dam.s81c.com/p/0aac9cf57bcbf324/dotcom-1-overview.jpg"/>
https://1.dam.s81c.com/p/0aac9cf57bcbf324/dotcom-1-overview.jpg

### Scrape data from HTML tables

In [50]:
#The below url contains an html table with data about colors and color codes.
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/HTMLColorCodes.html"

Before proceeding to scrape a web site, you need to examine the contents and the way data is organized on the website. Open the above url in your browser and check how many rows and columns there are in the color table.

In [51]:
# get the contents of the webpage in text format and store in a variable called data
data  = requests.get(url).text

In [52]:
soup = BeautifulSoup(data,"html5lib")

In [53]:
#find a html table in the web page
table = soup.find('table') # in html table is represented by the tag <table>

In [54]:
#Get all rows from the table
for row in table.find_all('tr'): # in html table row is represented by the tag <tr>
    # Get all columns in each row.
    cols = row.find_all('td') # in html a column is represented by the tag <td>
    print(cols)
    # color_name = cols[2].string # store the value in column 3 as color_name
    # color_code = cols[3].string # store the value in column 4 as color_code
    # print("{}--->{}".format(color_name,color_code))

[<td>Number </td>, <td>Color</td>, <td>Color Name</td>, <td>Hex Code<br/>#RRGGBB</td>, <td>Decimal Code<br/>(R,G,B)</td>]
[<td>1</td>, <td style="background:lightsalmon;"> </td>, <td>lightsalmon</td>, <td>#FFA07A</td>, <td>rgb(255,160,122)</td>]
[<td>2</td>, <td style="background:salmon;"> </td>, <td>salmon</td>, <td>#FA8072</td>, <td>rgb(250,128,114)</td>]
[<td>3</td>, <td style="background:darksalmon;"> </td>, <td>darksalmon</td>, <td>#E9967A</td>, <td>rgb(233,150,122)</td>]
[<td>4</td>, <td style="background:lightcoral;"> </td>, <td>lightcoral</td>, <td>#F08080</td>, <td>rgb(240,128,128)</td>]
[<td>5</td>, <td style="background:coral;"> </td>, <td>coral</td>, <td>#FF7F50</td>, <td>rgb(255,127,80)</td>]
[<td>6</td>, <td style="background:tomato;"> </td>, <td>tomato</td>, <td>#FF6347</td>, <td>rgb(255,99,71)</td>]
[<td>7</td>, <td style="background:orangered;"> </td>, <td>orangered</td>, <td>#FF4500</td>, <td>rgb(255,69,0)</td>]
[<td>8</td>, <td style="background:gold;"> </td>, <td>gold</td>, <td>#FFD700</td>, <td>rgb(255,215,0)</td>]
[<td>9</td>, <td style="background:orange;"> </td>, <td>orange</td>, <td>#FFA500</td>, <td>rgb(255,165,0)</td>]
[<td>10</td>, <td style="background:darkorange;"> </td>, <td>darkorange</td>, <td>#FF8C00</td>, <td>rgb(255,140,0)</td>]
[<td>11</td>, <td style="background:lightyellow;"> </td>, <td>lightyellow</td>, <td>#FFFFE0</td>, <td>rgb(255,255,224)</td>]
[<td>12</td>, <td style="background:lemonchiffon;"> </td>, <td>lemonchiffon</td>, <td>#FFFACD</td>, <td>rgb(255,250,205)</td>]
[<td>13</td>, <td style="background:papayawhip;"> </td>, <td>papayawhip</td>, <td>#FFEFD5</td>, <td>rgb(255,239,213)</td>]
[<td>14</td>, <td style="background:moccasin;"> </td>, <td>moccasin</td>, <td>#FFE4B5</td>, <td>rgb(255,228,181)</td>]
[<td>15</td>, <td style="background:peachpuff;"> </td>, <td>peachpuff</td>, <td>#FFDAB9</td>, <td>rgb(255,218,185)</td>]
[<td>16</td>, <td style="background:palegoldenrod;"> </td>, <td>palegoldenrod</td>, <td>#EEE8AA</td>, <td>rgb(238,232,170)</td>]
[<td>17</td>, <td style="background:khaki;"> </td>, <td>khaki</td>, <td>#F0E68C</td>, <td>rgb(240,230,140)</td>]
[<td>18</td>, <td style="background:darkkhaki;"> </td>, <td>darkkhaki</td>, <td>#BDB76B</td>, <td>rgb(189,183,107)</td>]
[<td>19</td>, <td style="background:yellow;"> </td>, <td>yellow</td>, <td>#FFFF00</td>, <td>rgb(255,255,0)</td>]
[<td>20</td>, <td style="background:lawngreen;"> </td>, <td>lawngreen</td>, <td>#7CFC00</td>, <td>rgb(124,252,0)</td>]
[<td>21</td>, <td style="background:chartreuse;"> </td>, <td>chartreuse</td>, <td>#7FFF00</td>, <td>rgb(127,255,0)</td>]
[<td>22</td>, <td style="background:limegreen;"> </td>, <td>limegreen</td>, <td>#32CD32</td>, <td>rgb(50,205,50)</td>]
[<td>23</td>, <td style="background:lime;"> </td>, <td>lime</td>, <td>#00FF00</td>, <td>rgb(0.255.0)</td>]
[<td>24</td>, <td style="background:forestgreen;"> </td>, <td>forestgreen</td>, <td>#228B22</td>, <td>rgb(34,139,34)</td>]
[<td>25</td>, <td style="background:green;"> </td>, <td>green</td>, <td>#008000</td>, <td>rgb(0,128,0)</td>]
[<td>26</td>, <td style="background:powderblue;"> </td>, <td>powderblue</td>, <td>#B0E0E6</td>, <td>rgb(176,224,230)</td>]
[<td>27</td>, <td style="background:lightblue;"> </td>, <td>lightblue</td>, <td>#ADD8E6</td>, <td>rgb(173,216,230)</td>]
[<td>28</td>, <td style="background:lightskyblue;"> </td>, <td>lightskyblue</td>, <td>#87CEFA</td>, <td>rgb(135,206,250)</td>]
[<td>29</td>, <td style="background:skyblue;"> </td>, <td>skyblue</td>, <td>#87CEEB</td>, <td>rgb(135,206,235)</td>]
[<td>30</td>, <td style="background:deepskyblue;"> </td>, <td>deepskyblue</td>, <td>#00BFFF</td>, <td>rgb(0,191,255)</td>]
[<td>31</td>, <td style="background:lightsteelblue;"> </td>, <td>lightsteelblue</td>, <td>#B0C4DE</td>, <td>rgb(176,196,222)</td>]
[<td>32</td>, <td style="background:dodgerblue;"> </td>, <td>dodgerblue</td>, <td>#1E90FF</td>, <td>rgb(30,144,255)</td>]

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By            |          Change Description         |
| ----------------- | ------- | ----------------------| ----------------------------------- |
| 2023-06-11        | 1.0     | Akansha Yadav         |   Spell check                       |
| 2020-10-17        | 0.1     | Joseph Santarcangelo  |  Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2021-01-01).